@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@keyframes delay {
  from {
    background: #1c1c1c;
    transition-delay: 0.9s;
  }
  to {
    background: #f7f7f7;
    transition-delay: 0.9s;
  }
}

body {
  margin: 0;
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto";
  position: relative;
  color: #1c1c1c;
}
.container {
  background: #f7f7f7;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  margin: 64px;
  padding: 52px;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
}
.perfil {
  display: flex;
}
.perfil h1 {
  font-size: 46px;
  font-weight: 700;
  margin: 10px 10px 10px 20px;
}
.perfil h3 {
  font-weight: 400;
  font-size: 24px;
  margin: 10px 10px 10px 20px;
}
.foto-perfil {
  border-radius: 460px;
  max-height: 160px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
  color: #0e1d2f;
  animation: delay 1s 4s backwards;
  animation-delay: 0.4s;
}

.div-projetos {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin-top: 40px;
}
.projetos-titulo {
  font-size: 36px;
  font-weight: 700;
  list-style: none;
  padding-left: 10px;
}

.projetos-itens {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  padding-left: 40px;
}
.cp_embed_wrapper {
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
.darkMode {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.darkMode .container {
  background: #333439;
  color: #f6f6f6;
}

.darkMode .div-projetos {
  color: #1c1c1c;
}

.darkMode .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f6f6f6;
}